<ng-container *ngIf="expandable; else navListTemplate">
  <mat-expansion-panel
    expandOnActiveLink
    [navListItemComponents]="navListItemComponents"
    class="mat-elevation-z0"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>{{ title }}</mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="navListTemplate"></ng-container>
  </mat-expansion-panel>
</ng-container>

<ng-template #navListTemplate>
  <mat-nav-list><ng-content></ng-content></mat-nav-list>
</ng-template>
