<mat-drawer-container class="app-container">
  <mat-drawer mode="side" opened class="app-sidebar">
    <div>
      <span class="logo">Logo</span>
    </div>

    <sidebar-nav></sidebar-nav>
  </mat-drawer>

  <mat-drawer-content>
    <div class="app-content">
      <div>
        Navigation:
        <a routerLink="/page-1">Page 1</a> |
        <a routerLink="/page-2">Page 2</a> |
        <a routerLink="/page-3">Page 3</a> |
        <a routerLink="/page-4">Page 4</a>
      </div>

      <hr />

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
